.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navBar {
  position: relative;
  background: #363737;
  display: flex;
  justify-content: center;
  width: 350px;
  height: 70px;
  border-radius: 5px;
  color: #d0d0d0;
  cursor: pointer;
  transition: 0.5s;
}
.navBar ul {
  display: contents;
  position: relative;
}
.navBar ul li {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90px;
}

.navBar ul li:hover,
.navBar ul li:active {
  color: #29fd53;
}
.navBar ul li a {
  color: #d0d0d0;
}

.navBar ul li a:hover,
.navBar ul li a:active {
  color: #29fd53;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #282c34;
}
.main-app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputbox {
  display: block;
  width: 300px;
  margin: 30px;
  padding: 10px;
  border: 1.5px solid #29fd53;
}

.login-div {
  align-items: center;
  background: #363737;
  justify-content: center;
  border-radius: 5px;
  color: chartreuse;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.login-div li a {
  color: #29fd53;
}

.navBar ul li svg {
  font-size: 35px;
}
